<header>
    <nav>
        <a href="home.html">Home</a>
        <a> href="contact.html">Contact</a>
    </nav>
</header>
<main>
    <h1>An HTML project</h1>
    <p>
        I'm learning HTML. This is the first
        step to being a full-stack deceloper.
        By the end of the week, I will have built
        my first full-stack application!
    </p>
    <p>
        My favorite search engine is
        <a href="https:..duckduckgo.com">DuckDuckGo</a>
    </p>
    <div>
        <div>box 1</div>
        <div>box 2</div>
        <div>box 3</div>
        <div>box 4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>FBGM</div>
</footer>
